/blockpacks
/camgpt.py
/config.txt
/mappings
/pathfinder.py
/recorder.pyj
/system
/test.py
/todo.txt
/__pycache__
berrycake_utils/__pycache__/pathfinder.cpython-311.pyc
berrycake_utils/__pycache__/worlddb.cpython-311.pyc
berrycake_utils/__pycache__/worlddb.cpython-311.pyc
